@charset "UTF-8";

/* Estilo para impressoras */

*{
    margin: 10px;
    padding: 10px;
}

html{
    font-family: 'Courier New', Courier, serif;
    font-size: 1.5em;
    line-height: 1.5em;
    
}

body{
    text-align: justify;
    text-indent: 30px;
}

h1, h2{
    text-align: center;
}

menu{
    display: none;
}

